Flask==3.0.0
Flask-CORS==4.0.0
Flask-Bcrypt==1.0.1
PyMySQL==1.1.0
Werkzeug==3.0.1
PyJWT==2.8.0
python-dotenv==1.0.0
opencv-python
numpy
torch
torchvision
firebase-admin
aiohttp
google-genai
requests
beautifulsoup4
selenium
webdriver-manager

# Stacking Logic Dependencies
pandas
joblib
scikit-learn==1.6.1